<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>

<h2 align="center">Registration</h2>
<form action="register" method="post" align="center">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h3 style="color:red;text-align:center"> {{msg}}</h3>
{% endfor %}
</body>
</html>